/* Breadcrumbs */
.asset-breadcrumbs {
  margin: 10px 0;
  padding: 10px 0;
  font-size: 14px;
  color: #505a5f;
}

.breadcrumb-label {
  font-weight: bold;
  margin-right: 5px;
}

.breadcrumb-item {
  display: inline-block;
  margin-right: 10px;
  padding: 3px 8px;
  background-color: #f3f2f1;
  border-radius: 5px;
}

.breadcrumb-divider {
  margin: 0 5px;
}