{{ define "main" }}
  <div id="demo-warning">
    This is a front-end demo with full datasets - if you see this banner, potentially-sensitive data will be loaded, even it is not displayed (<a href="#" id="swap-link"></a>)
  </div>
  <!-- Breadcrumbs -->
  <div class="navigation-container">
    <div class="nav-back">
      <a href="/" class="govuk-button govuk-button--secondary back-link">Return to Search</a>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="navigator.clipboard.writeText(document.location.href)">
        Copy link
      </button>
    </div>
    <div class="asset-breadcrumbs" id="search-breadcrumbs">
      <span id="breadcrumb-search-term"></span>
      <span id="breadcrumb-filters"></span>
      <span id="breadcrumb-geo"></span>
    </div>
  </div>
  <!-- Top navigation bar -->
  <div class="modern-navigation" id="top-nav-container">
    <div class="nav-position" id="position-counter-top">
      <!-- Populated by JS -->
    </div>
    <div class="nav-buttons" id="top-navigation">
      <a href="#" class="govuk-button govuk-button--secondary" id="prev-asset-top" style="display: none;">Previous</a>
      <a href="#" class="govuk-button govuk-button--secondary" id="next-asset-top" style="display: none;">Next</a>
    </div>
  </div>

  <div id="map"></div>
  <h1 id="asset-title"></h1>
  <!-- Bottom navigation bar -->
  <div class="modern-navigation" id="bottom-nav-container">
    <div class="nav-back">
      <a href="/" class="govuk-back-link back-link">Return to Search</a>
    </div>
    <div class="nav-position" id="position-counter-bottom">
      <!-- Populated by JS -->
    </div>
    <div class="nav-buttons" id="bottom-navigation">
      <a href="#" class="govuk-button govuk-button--secondary" id="prev-asset-bottom" style="display: none;">Previous</a>
      <a href="#" class="govuk-button govuk-button--secondary" id="next-asset-bottom" style="display: none;">Next</a>
    </div>
  </div>
  <!-- <h3><a href="{{ site.Params.archesurl }}" data-arches-root="{{ site.Params.archesurl }}" class="govuk-back-link" id="arches-link">View Reference Record</a></h3> -->
  <article id="asset">
  </article>
  <link rel="stylesheet" href="{{ "css/asset.css" | absURL }}">
  <link rel="stylesheet" href="{{ "css/breadcrumbs.css" | absURL }}">
  <link href="https://unpkg.com/maplibre-gl@^5.3.1/dist/maplibre-gl.css" rel="stylesheet" />
  <style>
     tr:nth-child(even) {
       background: #f8f8ff
     }
     tr:nth-child(odd) {
       background: #ffffff
     }
  </style>
<script>
  window.archesUrl = "{{- site.Params.archesurl }}";
</script>
<dialog id="asset-dialog" aria-labelledby="asset-dialog__heading">
<div id="asset-dialog__heading"></div>

<div id="asset-dialog__content"></div>

<button class="govuk-button dialog-cancel" type="button" id="asset-dialog__cancel"
    onclick="document.getElementById('asset-dialog').close()">Cancel</button>
</dialog>
{{- $js := resources.Get "asset.ts" -}}
{{ $params := (dict "search_config" site.Params.search_config "is_production" hugo.IsProduction ) }}
{{ $sourceMap := cond hugo.IsProduction "" "inline" }}
{{ $opts := dict "sourceMap" $sourceMap "minify" hugo.IsProduction "target" "es2020" "params" $params }}
{{ $js = $js | js.Build $opts }}
{{ if hugo.IsProduction }}
  {{ $js = $js | fingerprint }}
{{ end }}
<script
  src="{{ $js.RelPermalink }}"
  {{ if hugo.IsProduction }}integrity="{{ $js.Data.Integrity }}"{{ end }}
  type="module"></script>

<div id="legacy-record-container">
<h2>Legacy Record</h2>

<pre id="legacy-record">
</pre>
</div>
{{ end }}
