{{ define "main" }}
  <a href="/">&larr; Back</a>
  <div id="map" style="height: 150px"></div>
  <article id="asset">
  </article>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"></link>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
       integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
       crossorigin=""></script>
  <style>
     tr:nth-child(even) {
       background: #f8f8ff
     }
     tr:nth-child(odd) {
       background: #ffffff
     }
  </style>
  <script type="module">
  import { marked } from "https://cdn.jsdelivr.net/npm/marked/lib/marked.esm.js";
  import dompurify from 'https://cdn.jsdelivr.net/npm/dompurify@3.2.4/+esm';
  import grayMatter from 'https://cdn.jsdelivr.net/npm/gray-matter@4.0.3/+esm'
  import toml from 'https://cdn.jsdelivr.net/npm/toml@3.0.0/+esm'
  const searchParams = new URLSearchParams(window.location.search);
  if (!searchParams.has("slug") || !searchParams.get("slug").match(/^[a-z0-9_]+$/i)) {
    alert("Bad slug");
  }
  let pub = true;
  if (searchParams.get("full")) {
    pub = false;
  }
  const slug = searchParams.get("slug");
  const prefix = pub ? "heritageassets-public" : "heritageassets";
  const data = await fetch(`/${prefix}/${slug}.md`);
  const text = await data.text();
  const content = grayMatter(text, { delims: '+++', language: 'toml', engines: { toml: toml.parse.bind(toml) } });
  document.getElementById('asset').innerHTML = dompurify.sanitize(marked.parse(content.content));
  console.log(content);

  if (content.data.location) {
    var centre = JSON.parse(content.data.location);
    centre = [centre[1], centre[0]];
    const zoom = 16;
    var map = L.map('map').setView(centre, zoom);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    var geometry = JSON.parse(content.data.geometry);
    L.geoJSON(geometry).addTo(map);
  }
</script>
{{ end }}
