<div class="consent-list govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="consent-hint">
    <div id="consent-hint" class="govuk-hint">
      Enable and disable non-functional (non-essential) cookies below and click "Save preferences" to update your choices for this browser.
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
    {{ range $index, $item := .Site.Data.consent.items }}
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" id="item{{ $index }}" value="1" name="item{{ $index }}" {{ if $item.is_functional }}checked disabled{{ end }} />
            <label class="govuk-label govuk-checkboxes__label" for="item{{ $index }}">
                <h3>{{ $item.title }}{{ if $item.is_functional }} (functional){{ end }}</h3>
                <p>{{ $item.description }}</p>
            </label>
        </div>
    {{ end }}
    <div>
        <button class="govuk-button save-consent" data-consentvalue="{{ range $index, $item := .Site.Data.consent.items }}{{ if $item.is_functional}}{{ else }}0{{ end }}{{ end }}">Save preferences</button>
        <button class="govuk-button govuk-button--secondary approve-consent">Allow all</button>
        <button class="govuk-button govuk-button--secondary deny-consent">Deny all</button>
        <button class="govuk-button govuk-button--secondary clear-consent">Clear preferences</button>
    </div>
  </fieldset>
</div>
