header.govuk-header {
    background-color: #2d1537;
}
a.govuk-footer__copyright-logo {
  background-image: none !important;
}
div.govuk-header__container {
    border-bottom: 10px solid #7d55c7;
}
#map {
  height: 40vh
}

#demo-warning {
  padding: 10px;
  background: rgba(227, 38, 54, 1);
  color: white;
  font-size: 120%;
  font-weight: bold
}

#demo-warning a {
  color: white;
}

h1, h2 {
  padding-top: 5vh;
}

.map-hidden {
  display: none;
}

dialog img {
  max-height: 70vh;
  max-width: 70vw;
  display: block;
  margin: auto;
}
