header.govuk-header {
    background-color: #2d1537;
}
a.govuk-footer__copyright-logo {
  background-image: none !important;
}
div.govuk-header__container {
    border-bottom: 10px solid #7d55c7;
}
.pagefind-modular-list-thumb {
    display: none
}
#filter-warning {
    font-size: 90%;
    padding: 10px;
    margin: 10px;
    background-color: #eee;
    color: #444;
    border-radius: 8px;
}
#filter-warning a {
    color: #000;
    font-weight: bold;
}
.filter-warning-visible {
    display: block;
}
.filter-warning-hidden {
    display: none;
}
#map-row {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 100%;
}
#search-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 10px;
    max-height: 100vh;
}
#results {
    overflow-y: auto;
}
.result-links .govuk-button {
    font-size: 90%;
}
.result-links {
    width: 100%;
    text-align: left;
}
#map-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
#map {
    height: 70vh;
}
@media screen and (min-width: 800px) {
  #map {
      height: 100vh;
  }

  #search-column {
    flex: 1;
    max-height: 100vh;
  }

  #map-column {
    flex: 3
  }

  #map-row {
    flex-direction: row;
  }

  #jump-to-search {
    display: none;
  }
}

#result-count {
    padding-top: 5px;
}

.fade {
    opacity: 1;
    animation-name: fadeOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.1s;
}

@keyframes fadeOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.instructions-hidden {
  display: none;
}
