{{ $filterLabels := site.Params.starches.filter_labels | default dict }}
{{ $i18nLabels := dict }}
{{ range $key, $val := $filterLabels }}
  {{ $i18nKey := printf "starches_filter_label_%s" $key }}
  {{ $translated := i18n $i18nKey }}
  {{ if $translated }}
    {{ $i18nLabels = merge $i18nLabels (dict $key $translated) }}
  {{ end }}
{{ end }}
<div class="search-filter">
  {{ with $filterLabels }}<div id="starches-filter-labels" data-labels="{{ . | jsonify }}" hidden></div>{{ end }}
  {{ with $i18nLabels }}<div id="starches-filter-i18n" data-labels="{{ . | jsonify }}" hidden></div>{{ end }}
  <button id="filter-toggle" class="starches-filter-toggle" aria-expanded="false" aria-controls="filterContent" hidden>
    {{ i18n "starches_filter_label" }}
  </button>
  <div id="filterContent" class="filter-content">
    <ul id="filter-tabs-container"></ul>
    <div id="tag-content"></div>
  </div>
</div>

<template id="filter-tab-template">
  <li class="tag tag-link"><a href="#"></a></li>
</template>

<template id="filter-content-template">
  <div class="content-item"><div class="filter-options-wrap"></div></div>
</template>
