<div class="search-filter">
  <a href="#" id="filterToggle" class="dropdown-toggle" aria-expanded="false">
    <span class="search-filter-title">Filter</span>
  </a>
  <div id="filterContent" class="filter-content">
    <ul id="active-filters" class="tag-list tag-dark my-0">
      <li class="d-none">Filtering:</li>
    </ul>
    <ul id="filter-tabs-container"></ul>
    <div id="tag-content"></div>
  </div>
</div>

<template id="filter-tab-template">
  <li class="tag tag-link"><a href="#"></a></li>
</template>

<template id="filter-content-template">
  <div class="content-item"><div class="filter-options-wrap"></div></div>
</template>
